.w{
  background:url(2017-12-27_01461.svg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1112px;
}

#container2{
	height: 1200px;
}


#text2{
	margin-top: 78px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2em;
	margin-left: 1.9rem!important;
}

.span1{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 18px;
	position: relative; 
	top: 25px;
	right: 120px;
	color: black;
	
}

#text3{
	margin-top: 78px;
	font-family: 'Thasadith', sans-serif;
	font-size: 4em;
	color: #3987E1;
	margin-left: 3rem!important;
}


#ellipse1{
	margin-right: 17px;
}

#ellipse2{
	margin-left: 17px;
}

p.text-sm-right{

}

.btn{
  margin-top: 470px
}



#header{
  font-family: 'Didact Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  sline-height: 65px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 1112px;
  margin-top:-100px;
  min-height: 400px;
  color: white;
  text-align: center;
  background-image: url(2017-12-27_01461.svg);
}

nav a{
  color: #000000;
}
nav a:hover{
  color: #9B9999;
}
