
.w{
  background:url(2017-12-27_01461.svg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1112px;
}

#container2{
	height: 1200px;
}


#text2{
	margin-top: 78px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2em;
	margin-left: 1.9rem!important;
}

#span1{
  font-family: 'Thasadith', sans-serif;
  font-size: 72px;
  color: #3987E1;
}

#blokFind{
  margin-top: 78px;
}

#span2{
  font-family: 'TeX Gyre Adventor', arial;
	font-size: 18px;
	color: black;
}

#span3{
  font-family: 'TeX Gyre Adventor', arial;
	font-size: 40px;
	color: black;
}

#blokFindRow2{
  margin-top: 24px;
}


.span4{
  position: relative;
  left: 45px;
}

#text3{
	margin-top: 78px;

	margin-left: 1.9rem!important;
}


#ellipse1{
	margin-right: 29px;
}

#ellipse2{
	margin-left: 29px;
}

p.text-sm-right{

}

.btn{
  margin-top: 470px
}

#rect1{
  margin-top: 70px;
}

#blokFindRow3{
  margin-top: 70px;
  
}

#header{
  font-family: 'TeX Gyre Adventor', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  sline-height: 65px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 1112px;
  margin-top:-100px;
  min-height: 400px;
  color: white;
  text-align: center;
  background-image: url(2017-12-27_01461.svg);
}

nav a{
  color: #000000;
}
nav a:hover{
  color: #9B9999;
}
